In [ ]:
Answer 1:-The for loop is used when we already know the number of iterations,
which means when we know how many times a statements has to be executed. This
is why we have to specify the ending point in the for loop initialization. 
When we need to end the loop on a condition other than the number of times, 
we use a while loop.

In [1]:
# Answer 2:- WAP to print the sum and product of first 10 natural no.s using
# for and while loop
resultsum=0
resultproduct=1
# using for loop first
for i in range(1,11,1):
    resultsum=resultsum+i
    resultproduct=resultproduct*i
print(resultsum)
print(resultproduct)

55
3628800

In [5]:
# using while loop
resultsum=0
resultproduct=1
i=1
while i<11:
    resultsum=resultsum+i
    resultproduct=resultproduct*i
    i=i+1
print(resultsum)
print(resultproduct)

55
3628800

In [21]:
# Q3. Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows: For the first 100 units,
# the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit,
# and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
# You are required to take the units of electricity consumed in a month from the user as input.

# Your program must pass this test case: when the unit of electricity consumed by the user in a month is
# 310, the total electricity bill should be 2250.
# Answer 3:-
units=int(input(print("Enter the Total No. of Units Consumed:")))
totalamount=0
r=units%100
# while units>0:
if units>=100 and units<200:
        
        totalamount=100*4.5+r*6
        
elif units>=200 and units <300:
        totalamount=100*4.5+100*6+r*10
elif units>=300:
        remaining=units-300
        totalamount=100*4.5+100*6+100*10+remaining*20
        
else:
        # units are less than 100 so units*4.5
        totalamount=units*4.5
        
totalamount

Enter the Total No. of Units Consumed:

None 310

2250.0

In [27]:
units=int(input(print("Enter the Total No. of Units Consumed:")))
totalamount=0
r=units%100
while units>0:
    if units>300:
        remaining=units-300
        totalamount=totalamount+remaining*20
        units=units-remaining
        
    elif units>200 and units <=300:
        r=units%100
        if r==0:
            totalamount=totalamount+100*10
            units=units-100
        else:
            totalamount=totalamount+r*10
            units=units-r
            
    elif units>100 and units<=200:
         r=units%100
        if r==0:
            totalamount=totalamount+100*6
            units=units-100
        else:
            totalamount=totalamount+r*6
            units=units-r
    else:
        # units are less than 100 so units*4.5
        totalamount=units*4.5
        
totalamount

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 21)

In [30]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.

# Answer 4:-
l=[]
for i in range(1,101,1):
    l.append(i)
l

In [39]:
l1=[]
for i in l:
    temp=i*i*i
    if temp%4==0 or temp%5==0:
        l1.append(temp)
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [36]:
l1=[]
for i in range(1,101,1):
    l1.append(i*i*i)
l1

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [41]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"
string = "I want to become a data scientist"
count=0
for i in string:
    if i=='a'or i=='e'or i=='i'or i=='o'or i=='u'or i=='A'or i=='E'or i=='I'or i=='O'or i=='U':
        count+=1
count

12